/* Descriptions Style */
.descriptionLayout {
    background-color: #c699d1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
}

.descriptionLayout div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionContent {
    text-indent: 2rem;
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}